.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page-content {
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 37.8px;
  font-family: Lora, serif;
  font-size: 18px;
}
