.sentence-item {
  align-items: baseline;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(9, 26, 47);
  cursor: pointer;
  height: 22px;
  display: inline-block;
  font-family: Lora, serif;
  font-feature-settings: normal;
  font-size: 18px;
  font-variation-settings: normal;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: oklab(0.708 0 0 / 0.5);
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 2px;
  position: relative;
  tab-size: 4;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  text-wrap-mode: wrap;
  user-select: text;
  white-space-collapse: collapse;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s ease;
}

.blue-word {
  background-color: rgb(198, 223, 255);
}

.blue-word:hover {
  box-shadow: 0 0 0 1px #56a1ff;
}

.yellow-word {
  background-color: rgb(255, 232, 149);
  color: rgb(0, 0, 0);
}

.yellow-word:hover {
  box-shadow: 0 0 0 1px #fecc47;
}
